*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
Kotlin-iOS/Kotlin-iOS.xcodeproj/project.xcworkspace/xcuserdata/
Kotlin-iOS/Kotlin-iOS.xcodeproj/xcuserdata/